/*
   CSS styling examples for the Vaadin app.
   Visit https://vaadin.com/docs/flow/theme/theming-overview.html and
   https://vaadin.com/themes/lumo for more information.
*/

/* Example: CSS class name to center align the content . */
.centered-content {
  margin: 0 auto;
  max-width: 250px;
}

.data-grid {
  width: 600px;
}

.main-page {
  max-width: 1024px;
  margin: auto;
}

.selection-tabs {
  box-shadow: none;
}

.grid-table {
  height: 90vh;
}

@media screen and (min-width: 581px) {
  .top-layout {
    justify-content: space-between;
  }

  .button-layout {
    flex: auto;
  }
}

@media screen and (max-width: 580px) {
  .top-layout {
    flex-direction: column;
    margin-left: 0px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .button-layout {
    flex-direction: column;
    margin-left: 0px;
  }

  .button-layout vaadin-button {
    margin-left: 0px;
  }

  .top-layout vaadin-text-field {
    margin-left: 0px;
  }


}
